{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Absendulu{% endblock %}
{% block css %}
{% comment %} TODO: Ganti ini nama CSS nya soalnya shared {% endcomment %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
{% endblock css %}
{% block content %}


<div class="wrapper">
    <div class="signup">

        <div class="header">
            <p class="h4 mb-4 py-5 text-center">Login</p>
        </div>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="my-2 alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="my-2 alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <form id="signup_form"
              method="POST"
              action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="inputBody">
                <div class="inputForm">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email"
                           id="email"
                           name="login"
                           class="form-control mb-4"
                           placeholder="E-mail"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password"
                           name="password"
                           class="form-control mb-4"
                           placeholder="Password"
                           required>
                </div>

                {% comment %} TODO: Kasih info yang 'dont have account? Register' dibawah login (DILUAR FORM) {% endcomment %}
                <button class="btn btn-info btn-block my-4"
                        type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}