{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change | Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
{% endblock css %}
{% block content %}

<div class="wrapper">
    <form method="POST"
          action="{% url 'account_change_password' %}"
          class="password_change">
        {% csrf_token %}
        <div class="inputBody">
            <div class="inputForm">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="password"
                       name="oldpassword"
                       maxlength="50"
                       placeholder="Current Password"
                       autocomplete="current-password"
                       required
                       id="id_oldpassword"
                       class="form-control mb-4">
            </div>
            <div class="inputForm">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="password"
                       name="password1"
                       maxlength="50"
                       placeholder="New Password"
                       autocomplete="new-password"
                       required
                       id="id_password1"
                       class="form-control mb-4">
            </div>
            <div class="inputForm">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="password"
                       name="password2"
                       maxlength="50"
                       placeholder="New Password (again)"
                       required
                       id="id_password2"
                       class="form-control mb-4">
            </div>
            <button class="btn btn-red"
                    type="submit">Change Password</button>
            <br>
        </div>
    </form>
</div>

{% endblock content %}