{% extends 'base.html' %}
{% load static %}

{% block title %}Profile | Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/profile.css' %}"
      rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="intro-section"
         style="background-image: url({% static 'img/bg-profile.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">
                <div class="intro">
                    <div class="profile-img"><img src={% static 'img/avatar.png' %}
                             alt=""></div>
                    <h2><b>{{ user.first_name }} {{ user.last_name }}</b></h2>
                    <h4 class="font-yellow">{{ user.username }}</h4>
                    <ul class="information margin-tb-30">
                        <li><b>FIRST NAME : </b>{{ user.first_name }}</li>
                        <li><b>LAST NAME : </b>{{ user.last_name }}</li>
                        <li><b>EMAIL : </b>{{ user.email }}</li>
                    </ul>

                    <div class="modal-footer d-flex justify-content-center">
                        <a href="{% url 'account_change_password' %}">
                            <button class="btn btn-red"
                                    type="button">
                                Change Password
                            </button>
                        </a>
                    </div>
                </div><!-- intro -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- intro-section -->

<!--Modal-->
<div class="modal fade"
     id="modalchangepass"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar"
         role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src="{% static 'img/changepass.png' %}"
                     alt="avatar"
                     class="rounded-circle img-responsive"
                     style="width: 40%;">
            </div>
            <!--Body-->
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-key prefix grey-text"></i>
                    <input type="password"
                           id="defaultForm-currentPassword"
                           class="form-control validate"
                           placeholder="Current Password">
                    <label data-error="wrong"
                           data-success="right"
                           for="defaultForm-email"></label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password"
                           id="defaultForm-newPass"
                           class="form-control validate"
                           placeholder="New Password">
                    <label data-error="wrong"
                           data-success="right"
                           for="defaultForm-pass"></label>
                </div>
                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password"
                           id="defaultForm-confirmPass"
                           class="form-control validate"
                           placeholder="Confirm Password">
                    <label data-error="wrong"
                           data-success="right"
                           for="defaultForm-pass"></label>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-blue">Change Password</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal-->

{% endblock content %}