{% extends 'base.html' %}
{% load static %}

{% block title %}Register | Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
{% endblock css %}
{% block content %}


<div class="wrapper">
    <div class="signup">
        <div class="header">
            <p class="h4 mb-4 py-5 text-center">Register</p>
        </div>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="my-2 alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="my-2 alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <form id="signup_form"
              method="POST"
              action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="inputBody">

                <div class="inputForm">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control mb-4"
                           placeholder="Username"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text"
                           id="firstname"
                           name="first_name"
                           class="form-control mb-4"
                           placeholder="First Name"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text"
                           id="lastname"
                           name="last_name"
                           class="form-control mb-4"
                           placeholder="Last Name"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control mb-4"
                           placeholder="E-mail"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password"
                           name="password1"
                           class="form-control mb-4"
                           placeholder="Password"
                           required>
                </div>

                <div class="inputForm">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password"
                           name="password2"
                           class="form-control mb-4"
                           placeholder="Confirm Password"
                           required>
                </div>

                <button class="btn btn-info btn-block my-4"
                        type="submit">Register</button>

                <hr>
                <div class="text-center">
                    <p>By clicking
                        <em>Register</em> you agree to our
                        <a href=""
                           target="_blank">terms of service</a>.
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}