#container {
    margin: 0px auto;
    width: 350px;
    height: 250px;
    border: 10px #333 solid;
}

#videoElement {
    width: 330px;
    height: 230px;
    background-color: #666;
}

#canvas {
    display:none;
}