html,
body,
header{
    height: 100%;
}

html{ font-size: 100%; height: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #333; }

.intro1 {
    min-height: 100vh;
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
 
 .bg-dark {
     background: transparent;
     transition: 0.75s ease;
 }
 
 .bg-dark.scrolled {
     background: #24355C !important;
 }
 
.navbar{
    background: #24355C;
    
}

 .navbar .navbar-brand a {
     padding: 1rem 0;
     display: block;
     text-decoration: none;
 }
 
 .navbar-brand {
     margin-left: 10%;
     color: #ffffff;
 }
 
 .nav-link {
     margin-right: 70px;
     color: #ffffff;
     text-decoration: none;
     letter-spacing: 2px;
 }
 
 .nav-link:hover,
 .navbar-brand:hover {
     color: #d8d8d8;
 }
  
 .navbar-nav button {
     padding: 1.2em 0;
     margin-right: 70px;
 }
 
 .navbar-nav .btn {
     color: #ffffff;
     border-radius: 0;
     padding: 0.5rem 2rem;
     font-size: 1rem;
     margin-top: 1px;
 }
 
 .bd-placeholder-img {
     font-size: 1rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 .top-nav-collapse {
     background-color: #24355C;
 }
 /* responsives navbar */


 
 @media (max-width: 768px) {
     .navbar:not(.top-nav-collapse) {
         background-color: #24355C;
     }
 }
 
 @media (min-width: 800px) and (max-width: 850px) {
     .navbar:not(.top-nav-collapse) {
         background-color: #24355C;
     }
 }