* {
    margin: 0;
    padding: 0;
}

html,
body,
header {
    width: 100%;
}

.wrapper {
    max-width: 450px;
    width: 100%;
    background: #ffffff;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .1)
}

form {
    width: 100%;
}

.header {
    background-color: #24355C;
    height: 120px;
    color: white;
    margin-top: -30px;
    margin-left: -50px;
    margin-right: -50px;
    border-radius: 3px;
}

.inputBody {
    margin-top: 30px;
}

.inputForm {
    position: relative;
}

.inputForm input {
    padding-left: 40px
}

.inputForm i {
    position: absolute;
    left: 5px;
    top: 2px;
    padding: 9px 8px;
}

p {
    font-size: small;
}