{% load static %}
{% block css %}
<link href="{% static 'css/landing.css' %}"
      rel="stylesheet">
{% endblock css%}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <!-- logo -->
    <a class="navbar-brand"
       href="{% url 'index' %}">Absendulu</a>
    <!-- menu items -->
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a id="dropdownMenu1"
               href="#"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               class="nav-link dropdown-toggle">
                <span class="text-white font-weight-bold">
                    {{ user.first_name }} {{ user.last_name }}
                </span>
            </a>
            <ul aria-labelledby="dropdownMenu1"
                class="dropdown-menu dropdown-menu-right shadow">
                <li><a href="{% url 'group_list' %}"
                       class="dropdown-item">Group Lists</a></li>
                <li><a href="{% url 'group_create' %}"
                       class="dropdown-item">Create Group</a></li>
                <li><a href="{% url 'group_join' %}"
                       class="dropdown-item">Join Group</a></li>
                <li><a href="{% url 'account_profile' %}"
                       class="dropdown-item">Profile</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="{% url 'account_logout' %}"
                       class="dropdown-item">Logout</a></li>
            </ul>
            {% else %}
            <button class="btn btn-default btn-rounded"
                    data-toggle="modal"
                    data-target="#modalLoginAvatar">
                Log in
            </button>
            {% endif %}
    </ul>
</nav>
<!-- ./navbar -->

<!--Modal-->

<div class="modal fade"
     id="modalLoginAvatar"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar"
         role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src="{% static 'img/avatar.png' %}"
                     alt="Avatar"
                     class="rounded-circle img-responsive"
                     style="width: 50%;">
            </div>
            <!--Body-->
            <div class="modal-body mx-3">
                <form method="POST"
                      action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email"
                               id="defaultForm-email"
                               class="form-control validate"
                               placeholder="Email"
                               name="login"
                               required>
                        <label data-error="wrong"
                               data-success="right"
                               for="defaultForm-email"></label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password"
                               id="defaultForm-pass"
                               class="form-control validate"
                               placeholder="Password"
                               name="password"
                               required>
                        <label data-error="wrong"
                               data-success="right"
                               for="defaultForm-pass"></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-blue"
                               type="submit"
                               value="Login" />
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a href="{% url 'account_signup' %}">
                    <button class="btn btn-cyan"
                            type="button">
                        Register
                    </button>
                </a>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal-->