{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color"
          content="#F3AD00">

    {#    <link rel="icon" href="{% static 'img/favicon.ico' %}">#}

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
          rel="stylesheet">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura"
          rel="stylesheet">


    {% block css %}
    <link href="{% static 'css/landing.css' %}"
          rel="stylesheet">
    {% endblock css %}

    <title>{% block title %}{% endblock title %}</title>

    {% block extrahead %}{% endblock extrahead %}

</head>

<body>
    <div class="content py-5" style="min-height: 100%;">
        {% include 'snippets/navbar.html' %}

        {% block content %}

        {% endblock content %}
    </div>

    <footer class="page-footer font-small mt-auto">

        {% block footer %}
        {% endblock footer %}
        <!-- Copyright -->
        <div class="footer-copyright unique-color-dark text-center py-3">
            © 2020 Copyright: <a href="#"> Absendulu.co.id</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- JQuery -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    {% block js %}{% endblock js %}
</body>

</html>