{% extends 'base.html' %}
{% load static %}

{% block title %}Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/landing.css' %}"
      rel="stylesheet">

<style>
    .pricing-area {
        margin-top: 25px;
    }

    .single-pricing {
        position: relative;
        text-align: center;
        background-color: #2d2d2d;
        color: #ffffff;
        margin: 0 20px;
        padding: 30px;
        border-radius: 3px;
    }

    .head-text {
        background-color: transparent;
        border-bottom: 0;
        padding: 15px 0;
        border-radius: 3px 3px 0 0;
    }

    .head-text h3 {
        font-family: poppins;
        margin: 0;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fafafa;
    }

    .price-area .price-area span {
        font-weight: 600;
    }

    .price-area {
        position: relative;
        padding: 10px 0;
        color: #ffffff;
        font-weight: 300;
        font-size: 64px;
        line-height: 1;
    }

    .price-area span.duration {
        display: block;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: #888;
        letter-spacing: 1px;
        color: #999;
        margin: 20px 0 0 3px;
    }

    .price-area:after,
    .feature-area {
        border: 0;
        font-family: poppins;
    }

    .feature-area ul {
        margin: 0;
        padding: 15px 0;
        list-style-type: none;
    }

    .feature-area li {
        padding: 6px 0;
        font-size: 14px;
    }

    .btn-area {
        padding: 15px 30px;
        margin-left: 10px;
    }

    .btn-area a {
        display: inline-block;
        position: relative;
        cursor: pointer;
        outline: 0;
        white-space: nowrap;
        margin: 5px;
        padding: 0 22px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        background-color: #1abc9c;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
    }

    .label-area {
        width: 80px;
        height: 80px;
        position: absolute;
        top: -1px;
        right: -1px;
        text-align: center;
        border-top-right-radius: 3px;
        background: #ef4368;
    }

    .label-area span {
        position: absolute;
        top: 22px;
        right: 3px;
        text-transform: uppercase;
        transform: rotate(45deg);
        font-weight: 700;
        font-size: 10px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .label-area::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 0 0 80px;
        border-color: transparent transparent transparent #2d2d2d;
    }

    @media (max-width: 767px) {
        .display-4 {
            font-size: 40px;
        }

        h3,
        h4 {
            font-size: 20px;
        }

        .single-pricing {
            margin-bottom: 30px;
        }
    }
</style>

{% endblock css %}
{% block content %}

<!--Mask-->
<div id="intro"
     class="intro1 view d-flex"
     style="min-height: 100vh; background-image: url({% static 'img/bg-intro.jpg' %});">

    <div class="rgba-black-strong w-100">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-4 mb-2">Manage attendance without being
                        hassle
                    </h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Get attendance reports easily, realtime, and quickly with Absendulu.
                    </h4>
                    <a href="#definition">
                        <button type="button"
                                class="btn btn-outline-light">features</button>
                    </a>
                    <a href="#FAQ">
                        <button type="button"
                                class="btn btn-outline-light">FAQ</button>
                    </a>
                    <a href="#pricing">
                        <button type="button"
                                class="btn btn-outline-light">Pricing</button>
                    </a>
                    <a href="#contactus">
                        <button type="button"
                                class="btn btn-outline-light">contact</button>
                    </a>

                </div>

            </div>

        </div>

    </div>


</div>
<!--/.Mask-->

<!--Main layout-->
<main class="mt-5">

    <!--Section definition-->
    <section id="definition"
             class="text-center">

        <div class="container">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Apa itu Absendulu?</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="grey-text">Aplikasi Absendulu adalah aplikasi berbasis web pengelolaan absensi untuk
                        membantu pengguna dalam mendapat laporan
                        kehadiran dan lokasi secara langsung, aman, cepat dan akurat.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="my-5">
        </div>

    </section>
    <!--Section definition-->


    <!--Section Our features-->
    <section id=" Our-features"
             class="text-center"
             style="background-color: #eee;">
        <!-- Container -->
        <div class="container">

            <h2 class="mb-5 font-weight-bold py-5">Our Features</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-check-circle fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Accurate</h4>
                    <p class="grey-text">Tidak hanya nama karyawan dan waktu kehadiran yang dicatat,
                        Absenduku akan merekam lokasi,
                        foto selfi dan keterangan penting setiap karyawan yang melakukan absensi secara akurat.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Photo</h4>
                    <p class="grey-text">Foto kehadiran langsung melalui kamera smartphone saat absensi masuk,
                        dan hanya pengguna/karyawan yang memiliki akses yang dapat melakukan absensi.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-map-pin fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Locate</h4>
                    <p class="grey-text">Dilengkapi dengan teknologi GPS,
                        perusahaan dapat selalu memantau kehadiran karyawan secara langsung setiap saat dimanapun
                        dan
                        kapanpun. </p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </section>
    <!--Section Our features-->


    <!--Section FAQ-->
    <section id="FAQ"
             class="text-center">
        <div class="container">
            <hr class="my-5">

            <h2 class="mb-5 font-weight-bold">Frequently Asked Questions</h2>
            <div>
                <i class="fas fa-question fa-5x orange-text"></i>
            </div>
            
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Lorem ipsum dolor sit amet?</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Lorem ipsum dolor sit amet?</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Lorem ipsum dolor sit amet?</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Lorem ipsum dolor sit amet?</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>

    </section>
    <!--Section FAQ-->


    <section id="pricing">
        <div class="container">
            <hr class="my-5">

            <!--pricing-->

            <h2 class="mb-5 font-weight-bold text-center">Pricing</h2>
        </div>

        <div class="pricing-area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="single-pricing">
                            <div class="head-text">
                                <h3>Basic</h3>
                            </div>
                            <div class="price-area">
                                $0 <span class="duration">Free</span>
                            </div>
                            <div class="feature-area">
                                <ul>
                                    <li>3 Lorem ipsum</li>
                                    <li>Lorem ipsum </li>
                                    <li>Lorem ipsum</li>
                                    <li>Lorem ipsum</li>
                                </ul>
                            </div>
                            <div class="btn-area">
                                <a href="#">Choose Plan</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing best-deal">
                            <div class="label-area">
                                <span>Best deal</span>
                            </div>
                            <div class="head-text">
                                <h3>Premium</h3>
                            </div>
                            <div class="price-area">
                                $25 <span class="duration">Per Month</span>
                            </div>
                            <div class="feature-area">
                                <ul>
                                    <li>25 Lorem ipsum</li>
                                    <li>Lorem ipsum </li>
                                    <li>Lorem ipsum</li>
                                    <li>Lorem ipsum</li>
                                </ul>
                            </div>
                            <div class="btn-area">
                                <a href="#">Choose Plan</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing">
                            <div class="head-text">
                                <h3>Ultimate</h3>
                            </div>
                            <div class="price-area">
                                $299 <span class="duration">Per Year</span>
                            </div>
                            <div class="feature-area">
                                <ul>
                                    <li>25 Lorem ipsum</li>
                                    <li>Lorem ipsum </li>
                                    <li>Lorem ipsum</li>
                                    <li>Lorem ipsum</li>
                                </ul>
                            </div>
                            <div class="btn-area">
                                <a href="#">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
            </div>
        </div>

    </section>

    <!--Section: testimonial-->
    <section id="testimonial"
             class="text-center py-5"
             style="background-color: #eee;">

        <!-- Container -->
        <div class="container">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold mb-3">Testimonial</h2>


            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/32.png' %}"
                         class="rounded-circle img-fluid"
                         style="width: 20%;"
                         alt="First sample avatar image">
                </div>
                <!--Content-->
                <p>
                    <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
                    molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste
                    impedit quidem dolor veniam.
                </p>
                <h4 class="font-weight-bold">Okka Riswana</h4>
                <h6 class="font-weight-bold my-3">Founder at ET PINKISGAY</h6>
                <!--Review-->
                <i class="fa fa-star amber-text"> </i>
                <i class="fa fa-star amber-text"> </i>
                <i class="fa fa-star amber-text"> </i>
                <i class="fa fa-star amber-text"> </i>
                <i class="fa fa-star amber-text"> </i>
            </div>
        </div>
        <!-- Container -->

    </section>
    <!--Section: testimonial-->

</main>

{% endblock content %}

<!-- Footer -->
{% block footer %}
<div class="page-footer font-small unique-color-dark">
    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->

    <!--Footer Links-->
    <div class="container mt-5 mb-6 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-4 col-lg-4 col-xl-9 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>PT Absendulu Indonesia</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p>Grup teknologi Absensi digital Indonesia yang berbasis website. Absendulu pertama kali didirikan di
                    Indonesia pada tahun 2020 sebagai website pengelolaan absensi untuk membantu pengguna dalam memanage
                    laporan kehadiran.</p>
            </div>
            <!--/.First column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3"
                 id="contactus">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p>
                    <i class="fa fa-envelope mr-3"></i> absendulu@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +1 205 627 2577</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->
</div>
{% endblock footer %}
<!-- Footer -->

{% block js %}
<script>
    $(window).scroll(function() {
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 200);
    });
</script>
{% endblock js %}