{% extends 'base.html' %}
{% load static %}

{% block title %}Group Detail | Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
{% endblock css %}
{% block content %}

<div class="container py-5 my-5">
    <div class="card m-auto">
        <div class="card-header p-4"
             style="background-color: #24355C;">
            <h4 class="card-title text-center text-white">Attendance Group</h4>
        </div>
        <div class="card-body">
            <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon"
                          id="material-addon1">
                        <i class="fas fa-users"></i>
                    </span>
                </div>
                <input type="text"
                       name="name"
                       maxlength="50"
                       required
                       id="id_name"
                       class="form-control"
                       placeholder="Group Name"
                       aria-label="Group Name"
                       aria-describedby="material-addon1"
                       value='{{ object.name }}'
                       readonly>
            </div>

            <div class="md-form input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon">
                        <i> </i>
                    </span>
                </div>
                <textarea name="description"
                          cols="40"
                          rows="10"
                          maxlength="200"
                          required
                          id="id_description"
                          placeholder="{{ object.description }}"
                          class="md-textarea form-control"
                          readonly></textarea>
            </div>

            <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="text"
                       name="code"
                       maxlength="30"
                       id="id_code"
                       class="form-control"
                       placeholder="Group Code"
                       aria-label="Group Code"
                       value='{{ object.code }}'
                       readonly>
            </div>
            {% if user in object.admins.all %}
            <hr>
            <div class="mx-5">
                <h2>Members</h2>
                <ul class="mt-3">
                    {% for member in object.members.all %}
                    <li>{{ member.get_full_name }}</li>
                    {% empty %}
                    <p class="text-muted">This group does not have any member.</p>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}