{% extends 'base.html' %}
{% load static %}

{% block title %}Group List | Absendulu{% endblock title %}

{% block content %}
<div class="container py-5 my-5">
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Group Name</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.description }}</td>
                    <td class="text-right">
                        {% if user in object.admins.all %}
                        <a href="{% url 'report_list' group_pk=object.pk %}"
                           class="btn btn-sm btn-white">
                            Reports
                        </a>
                        <a>
                        <form method="POST" action="{% url 'group_delete' group_pk=object.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger"
                                    type="submit">Delete</button>
                        </form>
                        </a>
                        {% else %}
                        <a href="{% url 'meeting_list' group_pk=object.pk %}"
                           class="btn btn-sm btn-success">
                            Meeting List
                        </a>
                        <form method="POST" action="{% url 'group_leave' group_pk=object.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger"
                                    type="submit">Leave</button>
                        </form>
                        {% endif %}               
                        <a href="{% url 'group_detail' object.id %}"
                           class="btn btn-sm btn-info">
                            Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}