{% extends 'base.html' %}
{% load static %}

{% block title %}Join Group | Absendulu{% endblock %}
{% block css %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
{% endblock css %}
{% block content %}


<div class="wrapper">
    <form class="signup"
          id="joingroup_form"
          method="post"
          action="{% url 'group_join' %}">
        {% csrf_token %}
        <div class="header">
            <p class="h4 mb-4 py-5 text-center">Join a Group</p>
        </div>
        <form action="{% url 'group_join' %}"
              method="post">
            <div class="inputBody">

                <div class="inputForm">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text"
                           name="code"
                           class="form-control mb-4"
                           placeholder="Enter Group Code here">
                </div>

                <button class="btn btn-info btn-block my-4"
                        type="submit">Join Group</button>

            </div>
        </form>
    </form>
</div>

{% endblock content %}