{% extends 'base.html' %}
{% load static %}

{% block title %}Meeting List | Absendulu{% endblock title %}

{% block css%}
<link href="{% static 'css/grouplistmain.css' %}"
      rel="stylesheet">
<link href="{% static 'css/grouplistutils.css' %}"
      rel="stylesheet">
{% endblock css %}

{% block content %}

<h1 class="text-center pt-4">
    {{ group.name }} Meeting List
</h1>

<div class="container py-2 my-5">
    <div class="table-responsive text-nowrap">
        <table class="table table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.description }}</td>
                    {% if not object.id in attended %}
                    <td class="text-right">
                        <a href="{% url 'record_create' report_pk=object.pk %}"
                           class="btn btn-success">
                            Attend
                        </a>
                    </td>
                    {% else %}
                    <td class="text-right">
                        Attended
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}