{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance Form | Absendulu{% endblock %}

{% block css %}
<link href="{% static 'css/register.css' %}"
      rel="stylesheet">
<link href="{% static 'css/profile.css' %}"
      rel="stylesheet">
<link href="{% static 'css/attendanceform.css' %}"
      rel="stylesheet">
{% endblock css %}

{% block content %}
</a>
<!-- TODO: tolong dirapikan -->
<section class="intro-section"
         style="background-image: url({% static 'img/bg-profile.jpg' %});">
    <div class="wrapper">

        <div class="inputBody">
            <div class="camera">
                <video id="video">Video stream not available.</video>
                <button class="btn btn-default btn-rounded"
                        id="startbutton">Take photo</button>
            </div>
            <canvas id="canvas">
            </canvas>

            <button class="btn btn-default btn-rounded"
                    onclick="getLocation()"
                    id="loc-id"
                    name="location">
                Pin Live Location
            </button>

            <hr>
            <form method="POST"
                  id="att-form">
                {% csrf_token %}
                <p>Your Location</p>
                <input type="text"
                       id="show-loc-id"
                       name="location">
                <p>Your Photo</p>
                <div class="output">
                    <img id="photo">
                    <input type="text"
                           id="b64photo"
                           name="photo"
                           hidden>
                </div>
                <input type="submit"
                       class="btn btn-info btn-block my-4"
                       value="Submit Attendance">
            </form>
        </div>
    </div>


    <script>
        var x = document.getElementById("loc-id");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.value = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            document.getElementById("show-loc-id").value = "Latitude: " + position.coords.latitude +
                " Longitude: " + position.coords.longitude;
        }

        (function() {
            console.log();
            // The width and height of the captured photo. We will set the
            // width to the value defined here, but the height will be
            // calculated based on the aspect ratio of the input stream.

            var width = 320; // We will scale the photo width to this
            var height = 0; // This will be computed based on the input stream

            // |streaming| indicates whether or not we're currently streaming
            // video from the camera. Obviously, we start at false.

            var streaming = false;

            // The various HTML elements we need to configure or control. These
            // will be set by the startup() function.

            var video = null;
            var canvas = null;
            var photo = null;
            var startbutton = null;

            function startup() {
                video = document.getElementById('video');
                canvas = document.getElementById('canvas');
                photo = document.getElementById('photo');
                startbutton = document.getElementById('startbutton');

                navigator.mediaDevices.getUserMedia({
                        video: true,
                        audio: false
                    })
                    .then(function(stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function(err) {
                        console.log("An error occurred: " + err);
                    });

                video.addEventListener('canplay', function(ev) {
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth / width);

                        // Firefox currently has a bug where the height can't be read from
                        // the video, so we will make assumptions if this happens.

                        if (isNaN(height)) {
                            height = width / (4 / 3);
                        }

                        video.setAttribute('width', width);
                        video.setAttribute('height', height);
                        canvas.setAttribute('width', width);
                        canvas.setAttribute('height', height);
                        streaming = true;
                    }
                }, false);

                startbutton.addEventListener('click', function(ev) {
                    takepicture();
                    ev.preventDefault();
                }, false);

                clearphoto();
            }

            // Fill the photo with an indication that none has been
            // captured.

            function clearphoto() {
                var context = canvas.getContext('2d');
                context.fillStyle = "#AAA";
                context.fillRect(0, 0, canvas.width, canvas.height);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
                document.getElementById('b64photo').value = data;
            }

            // Capture a photo by fetching the current contents of the video
            // and drawing it into a canvas, then converting that to a PNG
            // format data URL. By drawing it on an offscreen canvas and then
            // drawing that to the screen, we can change its size and/or apply
            // other changes before drawing it.

            function takepicture() {
                var context = canvas.getContext('2d');
                if (width && height) {
                    canvas.width = width;
                    canvas.height = height;
                    context.drawImage(video, 0, 0, width, height);

                    var data = canvas.toDataURL('image/png');
                    photo.setAttribute('src', data);
                    document.getElementById('b64photo').value = data;
                } else {
                    clearphoto();
                }
            }

            // Set up our event listener to run the startup process
            // once loading is complete.
            window.addEventListener('load', startup, false);
        })();
    </script>
</section>
{% endblock content %}