{% extends 'base.html' %}
{% load static %}

{% block title %} Record | Absendulu{% endblock title %}

{% block css%}
<link href="{% static 'css/grouplistmain.css' %}"
      rel="stylesheet">
<link href="{% static 'css/grouplistutils.css' %}"
      rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container py-5 my-5">
    <div class="table-responsive text-nowrap">
        <table class="table table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.user.get_full_name }}</td>
                    <td>{{ object.time }}</td>
                    <td>{{ object.location }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}