{% extends 'base.html' %}
{% load static %}

{% block title %}{{ group.name }} Reports | Absendulu{% endblock title %}

{% block css%}
<link href="{% static 'css/grouplistmain.css' %}"
      rel="stylesheet">
<link href="{% static 'css/grouplistutils.css' %}"
      rel="stylesheet">
{% endblock css %}

{% block content %}

<h1 class="text-center pt-4">
    {{ group.name }} Attendance Reports
</h1>

<div class="container py-2 my-5">
    <a class="btn btn-success"
       href="{% url 'report_create' group_pk=group.pk %}">
        Add New Report
    </a>
    <div class="table-responsive text-nowrap">
        <table class="table table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.description }}</td>
                    <td class="text-right">
                        <a href="{% url 'record_list' report_pk=object.pk %}"
                           class="btn btn-secondary">
                            View Records
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}