{% extends 'base.html' %}

{% block title %} Create Attendance | Absendulu {% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <form class="card m-auto"
          method="POST">
        <div class="card-header p-4"
             style="background-color: #24355C;">
            <h4 class="card-title text-center text-white">Create Report</h4>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon"
                          id="material-addon1">
                        <i class="fas fa-users"></i>
                    </span>
                </div>
                <input type="text"
                       name="name"
                       maxlength="50"
                       required
                       id="id_name"
                       class="form-control"
                       placeholder="Report Name"
                       aria-label="Group Name"
                       aria-describedby="material-addon1">
            </div>

            <div class="md-form input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon">
                        <i> </i>
                    </span>
                </div>
                <textarea name="description"
                          cols="40"
                          rows="10"
                          maxlength="200"
                          required
                          id="id_description"
                          placeholder="Please describe this report..."
                          class="md-textarea form-control"></textarea>
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-block my-4"
                    type="submit">Submit</button>
        </div>
    </form>
</form>

{% endblock content %}